/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 25, 2015, 7:19:13 AM
    Author     : vivianamarquez
*/


body{  
    background-repeat: no-repeat;
    background-position: center;
    background-color: #dde9f4;
    padding: 75px;
}

header{
    background-color: transparent;
    color: green;
    text-align: left;
    padding: 5px;
    text-align: left;
    background-repeat: no-repeat;
    background-size: 500px;
}

header#h1#img{
    alignment-adjust: left;
    
}

nav{
    line-height: 30px;
    background-color: #FAF0F5;
    height: 350px;
    width: 300px;
    float: right;
    padding: 5px;
    font-family: "Avenir Next";
}

section{
    width: 350px;
    float: left;
    padding: 10px;
}

footer{
    background-color: #99CCFF;
    color: white;
    clear: both;
    text-align: center;
    padding: 5px;
    font-family: "Avenir Next";
}

h2{
    color: black;
    font-family: "Herculanum";
    alignment-adjust: central;
}

aside{
    font-family: "Avenir Next";
}
